<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
  .movies{
    width: 100vw;
    height: 100vh;
  }


  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

</style>




<div class="content" role="main">

    <!-- <span>{{ pel }} app is running!</span> -->
    <!-- <div class="ques">
        <p>Introduce la película</p>
        <input type="text" [(ngModel)]="value" (change)="getFilm();">
    </div> -->
    <div class="row">
      <span>
        <!-- <input class="basic-slide" id="name" type="text" placeholder="Your best name" /><label for="name">Name</label> -->

          <input class="basic-slide" id="name" type="text" [(ngModel)]="value" (change)="getFilm();"><label for="name">Nombre de la película o actor</label>


      </span>
    </div>

    <div class="movies"></div>

<router-outlet></router-outlet>
